.row{
    padding: 20px;
    color: whitesmoke;
    font-size: 20px;
}
div{
    background-color: #c20f54;
    text-align: center;
}

@media (min-width: 576px) {
    #foto{
        position: absolute;
        width: 12%;
        border-radius: 100%;
        box-shadow: 2px 2px 2px black;
        left: 3%;
    }
}

@media (max-width: 575px) {
    #foto{
        position: absolute;
        width: 25%;
        border-radius: 100%;
        box-shadow: 2px 2px 2px black;
        left: 38%;
    }
}

#acerca{
    padding: 30px;
    margin-top: 20px;
}

#nombre{
    font-weight: bold;
    margin-top: 40%;
}