<div class="row">
    <h1 id="exp">Educación</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-light" routerLink="/nuevoest" *ngIf="isLogged">
            Agregar Educación
        </button>
    </div>
    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table" id="divulgacion">
            <tbody>
                <tr *ngFor="let Estudio of estudio">
                    <td><h2>{{Estudio.nombreE}}</h2></td>
                    <td>{{Estudio.descripcionE}}</td>
                    <td *ngIf="isLogged"><button class="btn btn-light" routerLink="/editest/{{Estudio.id}}"><i class="bi bi-pencil"></i> EDITAR</button></td>
                    <td *ngIf="isLogged"><button class="btn btn-light" (click)="delete(Estudio.id)"><i class="bi bi-eraser"></i> BORRAR </button></td>
                </tr>
            </tbody>

        </table>
    </div>
</div>