[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = marilu040701
	email = mariadellujanramos915@gmail.com
[safe]
	directory = D:/usuarios/alumno/escritorio
